VITE_APP_NAME=ECOA Tierra YPF
VITE_ENABLE_GOOGLE_PHOTOREALISTIC_TILES=false
VITE_CESIUM_ION_TOKEN=
VITE_GOOGLE_MAPS_API_KEY=
VITE_DEFAULT_LAT=-34.2
VITE_DEFAULT_LON=-58.8
VITE_DEFAULT_HEIGHT=14500000
